@tailwind base;
@tailwind components;
@tailwind utilities;

.liquid-glass {
  background: rgba(245, 253, 255, 0.162); /* Semi-transparent background */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  backdrop-filter: blur(10px); /* The key blurring effect */
  -webkit-backdrop-filter: blur(10px); /* Vendor prefix for compatibility */
  border: 1px solid rgba(36, 36, 36, 0.1); /* Light border for definition */
}
